* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* shared styles */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1920px;
}

a {
     text-decoration: none;
     color: #424242;
     font-size: 1.125rem;
}

li {
     list-style: none;
}

.btn {
     background-color: #FF900E;
     font-size: 1.25rem;
     color: white;
     padding: 1.25rem 2rem;
     border-radius: 0.5rem;
     border: none;
     font-weight: bold;
     margin-bottom: 50px;
     cursor: pointer;
}

p {
     line-height: 26px;
     color: #727272;
     font-size: 1rem;
}

#experience ,#fact, #sponsors, #features, footer{
     padding-top: 100px;
     margin: 0 100px 0 100px;
}

/* main styles */

header {
     background-color: #FFF4E7;
    
}

.container  {
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 673px;

}
.container h3 {
     color: black;
     font-size: 2rem;
     font-weight: bold;
     margin-top: 55px;
}

.container .menu ul {
     display: flex;
     justify-content: space-between;
     line-height: 26px;
     gap: 50px;
     margin-top: 50px;
}

#banner {
     margin: 0 auto;
     max-width: 1470px;

}

#banner .banner-content {
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 100px;
     width: 862px;
}

.banner-content h1 {
     font-size: 4rem;
     font-weight: bold;
     text-align: center;
     margin-bottom: 20px;
}
.banner-content p {
     font-size: 1rem;
     text-align: center;
     margin-bottom: 20px;
     color: #727272;
}

.banner-img {
     width: 1440px;
     margin: 0 auto;
}

/* features section */

#features {
     padding-top: 100px;
}

#features .feature-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     gap: 50px;
     width: 1470px;
}

.feature-img {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 24px;
     
}

.feature-content {
     width: 50%;
} 

.feature-content h2 {
     font-size: 2rem;
     margin-bottom: 20px;
     width: 468px;
}

#quick-list {
     color: #727272;
     font-weight: 500;
}

#features-text-h2 {
     color: #E07F24;
     font-weight: bold;
}

.feature-content p { 
     font-size: 1rem;
     text-align: left;
     margin-bottom: 20px;
     color: #727272;
}

/* experience section */


#experience .experience-container {
     display: flex;
     justify-content: space-around ;
     align-items: center;
     margin: 0 auto;
     gap: 100px;
}

.experience-content {
     width: 50%;
     /* margin-left:70px */
}

.experience-content h1 {
     font-size: 3rem;
     margin-bottom: 20px;
     border-left: 5px solid #FF900E;
     padding: 10px;
}

.experience-content p {
     font-size: 1rem;
     text-align: left;
     margin-bottom: 20px;
     color: #727272;
}

.card-container {
     display: grid;
     grid-template-rows: repeat(2, 1fr);
     gap: 20px;
}

.card {
     background-color:#FFFF;
     padding: 30px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     border-radius: 8px;
}

.card h4 {
     font-size: 1.25rem;
     margin-bottom:10px;
     font-weight: 600;
}

.card p{
     font-size: 1rem;
}

.experience-img  {
     width: 800px;
     margin-right: -100px;
}
.experience-img img {
     width: 700px;
}

.experience-img button {
     padding: 30px;
     margin-top: -100px;
     margin-left: -60px;
}

/* fact section */
#fact .fact-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     gap: 100px;
}

.fact-content {
     text-align: left;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.fact-content h2 {
     font-size: 2rem;    
     font-weight: bold;
}

.achievement {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 0 auto;
     gap: 100px;
}

.achievement .achievement-card {
     text-align: center;
     border: 2px solid #FF900E;
     border-radius: 8px;
     padding: 40px;
}

/* sponsors section */

#sponsors .sponsors-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     gap: 50px;
}

.sponsors-content {
     text-align: center;
}

.sponsors-content h2 {
     font-size: 2rem;    
     font-weight: bold;
     margin-bottom: 24px;
}

.sponsors-logo {
     display: flex;
     justify-content: space-around;
     gap: 100px;
}

.sponsors-logo img {
     filter: grayscale(1);
}

footer {
     margin-bottom: 100px;
}

footer .footer-container {
     text-align: center;
     padding: 20px;
     background-color: #FFF4E7;
}

footer .footer-container p {
     font-size: 1.25rem;
}